:root { 
--light_green_A700_e5:#37e128e5; 
--blue_gray_50:#f1f1f1; 
--indigo_300_1e:#7c8db51e; 
--red_500:#ff3b30; 
--blue_gray_900_4c:#3333334c; 
--black_900_3f:#0000003f; 
--green_500:#34c759; 
--light_blue_800:#027fc6; 
--black_900:#000000; 
--blue_50_01:#e6edff; 
--blue_gray_900:#333333; 
--red_A700:#ff0000; 
--pink_100:#fbb2cc; 
--orange_A100:#f3d396; 
--gray_700:#666666; 
--gray_400:#aeaeae; 
--blue_gray_100:#cccccc; 
--gray_500:#999999; 
--blue_gray_600:#3b5b8b; 
--blue_600:#347ae2; 
--gray_700_7f:#6666667f; 
--blue_50:#eaf6ff; 
--gray_100:#f1f5f9; 
--indigo_300:#7c8db5; 
--gray_100_01:#f5f5f5; 
--white_A700:#ffffff; 
}